<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170730689421-j6hljnbvik54o1doun4n3aun5oc93aoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170730689421-j6hljnbvik54o1doun4n3aun5oc93aoa</string>
	<key>API_KEY</key>
	<string>AIzaSyAvzp3pnjLS3B6z2BoutZBLdFM9x_0auGk</string>
	<key>GCM_SENDER_ID</key>
	<string>170730689421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nikitalaptyonok.WhyShyApp</string>
	<key>PROJECT_ID</key>
	<string>whyshyapp</string>
	<key>STORAGE_BUCKET</key>
	<string>whyshyapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170730689421:ios:80a473fa3edc4b26cce3c4</string>
</dict>
</plist>